accounts:
- domain: "Pub"
  region: "KR"
  accessKey: ""
  secretKey: ""
  apiUrl: "https://ncloud.apigw.ntruss.com"
- domain: "Fin"
  region: "FKR"
  accessKey: ""
  secretKey: ""
  apiUrl: "https://fin-ncloud.apigw.fin-ntruss.com"
- domain: "Gov"
  region: "KR"
  accessKey: ""
  secretKey: ""
  apiUrl: "https://ncloud.apigw.gov-ntruss.com"
